<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Listar</title>
</head>
<body>

<h2>Registros</h2>
  <table border="1">
    <thead>
        <tr>
            <td>Titulo</td>
            <td>Editora</td>
            <td>ISBN</td>
        </tr>
    </thead>
    <tbody>
    <% data.forEach(function(details) { %>
        <tr>
            <td><%= details.titulo %></td>
            <td><%= details.editora %></td>
            <td><%= details.ISBN %></td>
            <td><a href="/livros/<%= details._id %>">Editar</a> - <a href="/deletaLivro/<%= details._id %>">Deletar</a></td>
        </tr>
        <% }) %>
    </tbody>
  </table>
  <button><a href="/">Novo</a></button>
</body>
</html>